  body {
    text-align: center;
    background: rgb(234, 237, 241);
  }
/* GRID */
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    /* grid-template-rows: 0.5fr 1fr 1fr; */
    grid-gap: 1rem;
    grid-template-areas: 
        "header header  calories"
        "search results diary" 
        "manual recipe-card  diary";
  }
/* HEADER */
  .header { grid-area: header;
  justify-content: center;
  align-content: center; 
  padding: 0%;}

  .calories { grid-area: calories; }
      .circle {
        display: flex;
        margin: 10px 0px 10px 120px ;
        width: 120px;
        height: 120px;
        background: green;
        border-radius: 60px;      
    }
 
/* SEARCH */
  .search { grid-area: search;
  border-radius: 10px;
	background: whitesmoke;
	box-shadow:  0 2px 4px 0 hsla(0,0%,0%,0.1);
  padding: 0.5rem;
  }
  
    .search #just-typed {
      color: hsl(0,0%,13%);
      /* font-size: 2rem;
      padding: 0.5rem; */
    } 

    .search #ingredient-form input{
      margin: 0.5rem 0 0.5rem;
      font-size: 1.25rem;
      background-color: hsl(220,12%,95%);
      box-shadow: inset 0 2px 4px 0 hsla(0,0%,0%,0.1);
      /* box-shadow: inset 0 2px 4px 0 hsla(0,0%,0%,0.1); */
      padding: 0.5rem;
    }

  .manual { grid-area: manual;
    border-radius: 10px;
    background: whitesmoke;
    box-shadow:  0 2px 4px 0 hsla(0,0%,0%,0.1);
    padding: 10px;
  }

 

  .search #recipe-form input{
    margin: 0.5rem 0 1rem;
    font-size: 1.25rem;
    background-color: hsl(220,12%,95%);
    box-shadow: inset 0 2px 4px 0 hsla(0,0%,0%,0.1);
    /* box-shadow: inset 0 2px 4px 0 hsla(0,0%,0%,0.1); */
    padding: 0.5rem;
  }

/* RESULTS */
    .results { grid-area: results; 
      border-radius: 10px;
      background: whitesmoke;
      box-shadow:  0 2px 4px 0 hsla(0,0%,0%,0.1);
      padding: 10px;
    }

    /* .results-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr ;
      grid-template-areas: "Result Result Result Result" 
                           "Quantity food-name food-name calories" 
                           ".        .         .         ." 
                           ".        .         .         ." ;                   
    }
    
    .results-container #result-result { grid-area: Result; 
        font-size: 3rem;
        color: hsl(0, 0%, 13%);
        font-weight: 800;
        max-height: 1%;
    }
    
    .results-container #result-quantity  { grid-area: Quantity; 
      color: hsl(0,0%,13%);
      font-size: 2rem;
      padding: 1rem;
    }
    
    .results-container #result-food-name { grid-area: food-name; 
      color: hsl(0,0%,13%);
      font-size: 2rem;
      padding: 1rem;}
    
    .results-container #result-calories { grid-area: calories; 
      color: hsl(0,0%,13%);
      font-size: 2rem;
      padding: 1rem;} */


/* DIARY */
    .diary { grid-area: diary; 
      border-radius: 10px;
	overflow: hidden;
  background: whitesmoke;
  box-shadow:  0 2px 4px 0 hsla(0,0%,0%,0.1);
	/* box-shadow: 0 13px 27px -5px rgb; */
  padding: 10px;
    }

 

/* **************************** */
/* RECIPE CARD */
/* **************************** */
/* //credit to https://codepen.io/klesht/pen/pjjegK?editors=1010 */
.recipe-card {
	@include box-sizing(border-box);
}

.recipe-card html {
	height: 100%;
}

.recipe-card body {
	@include linear-gradient(-45deg, #19d3d1 5%, #57abf2, $fallback: #57abf2);
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
}

.recipe-card img {
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

.recipe-card {
	background: #fff;
	margin: 4em auto;
	width: 90%;
	max-width: 496px;
	@include border-top-radius(5px);
	@include border-bottom-radius(5px);
}
.recipe-card .aside {
		position: relative;
    }
		.aside img {
			@include border-top-radius(5px);
		}

		.recipe-card .aside .button {
			background: #57abf2;
			display: inline-block;
			position: absolute;
			top: 80%;
			right: 3%;
			width: em(65);
			height: em(65);
			border-radius: em(65);
			line-height: em(65);
			text-align: center;
        }
        .recipe-card .aside	.icon {
				vertical-align: middle;
			}
	
      .recipe-card article {
		padding: 1.25em 1.5em;
    }
    .recipe-card article	ul {
			list-style: none;
			margin: 0.5em 0 0;
            padding: 0;
        }
        .recipe-card article	li {
				display: inline-block;
				margin-left: 1em;
                line-height: 1em;
        }
      
                

        .recipe-card article	.icon {
				    vertical-align: bottom;
				}

        .recipe-card article	span:nth-of-type(2) {
					margin-left: 0.5em;
					font-size: 0.8em;
					font-weight: 300;
					vertical-align: middle;
					color: #838689;
				}
		
        .recipe-card article	h2, h3 {
			margin: 0;
			font-weight: 300;
		}

    .recipe-card article	h2 {
			font-size: em(28);
			color: #222222;
		}

    .recipe-card article	h3 {
			font-size: em(15);
			color: #838689;
		}

    .recipe-card article	p {
			margin: 1.25em 0;
			font-size: em(13);
			font-weight: 400;
			color: #222222;
        }
        .recipe-card article	span {
				font-weight: 700;
				color: #000000;
			}
	

      .recipe-card article	.ingredients {
			margin: 2em 0 0.5em;
		}

    .recipe-card article	.icon {
	    display: inline;
	    display: inline-block;
	    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/203277/recipe-card-icons.svg);
	    background-repeat: no-repeat;
	}

  .recipe-card article	.icon-calories,.icon-calories\:regular {
	    background-position: 0 0;
	    width: 16px;
	    height: 19px;
	}
 
  .recipe-card article	.icon-clock,.icon-clock\:regular {
	    background-position: 0 -19px;
	    width: 20px;
	    height: 20px;
	}

  .recipe-card article	.icon-level,.icon-level\:regular {
	    background-position: 0 -39px;
	    width: 16px;
	    height: 19px;
	}

  .recipe-card article	.icon-play,.icon-play\:regular {
	    background-position: 0 -58px;
	    width: 21px;
	    height: 26px;
	}

  .recipe-card article	.icon-users,.icon-users\:regular {
	    background-position: 0 -84px;
	    width: 18px;
	    height: 18px;
	}
