  body {
    text-align: center;
    background: rgb(234, 237, 241);
  }
/* GRID */
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-gap: 1rem;
    grid-template-areas: 
        "header header calories"
        "search results diary" 
        "search results diary";
  }
/* HEADER */
  .header { grid-area: header;
  justify-content: center;
  align-content: center; 
  padding: 10%;}

  .calories { grid-area: calories; }
      .circle {
        display: flex;
        margin: 10px 0px 10px 120px ;
        width: 120px;
        height: 120px;
        background: green;
        -moz-border-radius: 60px;
        -webkit-border-radius: 60px;
        border-radius: 60px;      
    }
 
/* SEARCH */
  .search { grid-area: search;
  border-radius: 10px;
	background: whitesmoke;
	box-shadow:  0 2px 4px 0 hsla(0,0%,0%,0.1);
  padding: 1rem;
  }
    .search #just-typed {
      color: hsl(0,0%,13%);
      font-size: 2rem;
      padding: 15px;
    } 
      .search #ingredient-form input{
        font-size: 1.25rem;
        background-color: hsl(220,12%,95%);
        box-shadow: inset 0 2px 4px 0 hsla(0,0%,0%,0.1);
        /* box-shadow: inset 0 2px 4px 0 hsla(0,0%,0%,0.1); */
        padding: 0.5rem;
      }

/* RESULTS */
    .results { grid-area: results; 
      border-radius: 10px;
      overflow: hidden;
      background: whitesmoke;
      box-shadow:  0 2px 4px 0 hsla(0,0%,0%,0.1);
      padding: 10px;
      
    }
  
      .results #results {
        font-size: 3rem;
        color: hsl(0, 0%, 13%);
        font-weight: 800;
      }

/* DIARY */
    .diary { grid-area: diary; 
      border-radius: 10px;
	overflow: hidden;
  background: whitesmoke;
  box-shadow:  0 2px 4px 0 hsla(0,0%,0%,0.1);
	/* box-shadow: 0 13px 27px -5px rgb; */
  padding: 10px;
    }

 